#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}

#friends-display-link i:last-child {
  margin-left: 10px;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: var(--font-color);
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
}
