.more-screen .icon-row {
  margin-top: 35px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}

.more-suggestions__title {
  margin-bottom: 30px;
  font-weight: 700;
}
.more-suggestions__icons {
  display: flex;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image img {
  width: 60px;
  height: 60px;
  border-radius: 30%;
}

.more-suggestions__icon-text {
  font-weight: 600;
  margin-top: 10px;
}
