.alt-header {
  padding: var(--horizontal-space);
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alt-header-column:first-child {
  margin-right: auto;
}

.alt-header-column:last-child {
  margin-left: auto;
}

.alt-header__title {
  font-size: 24px;
  font-weight: 600;
}

.alt-header-icons span:last-child {
  margin-left: 20px;
}
