.badge {
  background-color: tomato;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.badge-sm {
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  display: flex;
}

.badge__nav__more {
  position: absolute;
  right: -3px;
}

.badge__find {
  position: absolute;
  top: -6px;
  right: -3px;
}

.badge__more {
  position: absolute;
  top: -30px;
  right: 10px;
}
