.icon-row {
  display: flex;
  justify-content: space-between;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.icon-row__icon i {
  font-size: 35px;
}

.icon-row__icon span {
  text-align: center;
  margin-top: 25px;
}

.icon-row__icon:nth-child(2) .special {
  margin-top: 20px;
}
