.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
}
.nav__notification {
  background-color: tomato;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.nav__btn:last-child .nav__notification {
  background-color: tomato;
  border-radius: 4px;
  width: 8px;
  height: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
  bottom: 30px;
}
