.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
  animation: notificationAnimation 3s ease-in-out infinite;
}

@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav__btn {
  opacity: 0;
  transform: translateY(50px);
  animation: appearBtnAnimation 0.3s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.3s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.5s;
}
.nav__btn:last-child {
  animation-delay: 0.8s;
}

.nav__btn:last-child .nav__notification {
  background-color: tomato;
  border-radius: 4px;
  width: 8px;
  height: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
  bottom: 30px;
}
