.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screan-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screan-header__icons {
  position: relative;
}

.screan-header__icons span {
  margin-left: 25px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screan-header__icons .fa-cog:hover {
  animation: rotateCog 2s linear infinite;
}
